body
{
    margin:0;
    padding:0;
}

.box
{
    display: flex;
    flex-direction: column;
}

.container
{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.col1
{
    flex-basis: 20%;
    /* border-right: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.col2
{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    padding:16px;
}

.col1 img
{
    width: 200px;
    border:1px solid black;
    border-radius: 50%;
}

.profile
{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:3px solid red;
    color: blue;
}
.course
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: black;
    color: white;
    flex: 1;
}

.rating{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.objective
{
    margin-top: 0;
    font-size: 20px;
}

.header
{
    flex:1;
}
.education
{
    flex:2;
}
.projects
{
    flex:2;
    font-size: 20px;

}

.title
{
    font-size: 20px;
    font-weight: 600;
    line-height:1.9;
}

.education table
{
    width: 50vw;
    text-align: justify;
    border-collapse: collapse;
}

.education table td,.education table th
{
    border:1px solid green;
    padding: 8px;
}

