@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

*
{
	margin: 0;
	padding: 0;
}
body
{
	height: 100vh;
	font-family: 'Squada One', cursive;
}


/* ---------------- Navbar -------------------- */
.navbar
{		
	display: flex;
	padding: 10px 30px;
	background-color: #F2F1EF;
	border: 1px solid black;
	justify-content: space-between;
	align-items: center;
}

.navbar img
{
	border: 6px solid #697184;
	width: 70px;
	border-radius: 50%;
}
.navbar h3
{	
	color:#697184;
	font-size: 30px;
	font-weight: 300;
}



/* -----------------	main container ------------------------ */

.container
{
	display: flex;
	width: 100%;
	background-color: #413F3D;
}



/* -----------------	Pokemon information container ------------------------ */

.info-container
{
	flex-basis: 80%;
	padding: 32px 16px;
}

.row 
{
	display: flex;
	margin: 32px 0;
}

.title
{
	color: #fff;
	font-size: 32px;
	font-weight: 400;
}

.image-container
{
	width: 450px;
}

.info
{
	margin-left: 24px;
}

.info p
{
	font-weight: 300;
	font-size: 24px;
	margin-top: 40px;
	color: #fff;
}

.description
{
	padding-top: 4px;
}

.description p 
{	
	font-size: 16px;
	color: #fff;
	margin-top:18px;
}





/* -----------------	Pokemon List container	 ------------------------ */
.list 
{
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fff;
}

.box
{
	display: flex;
	flex-direction: column;
	width:200px;
	height:220px;
	border:6px solid #413F3D;
}
.img-box
{ 
	display:flex;
	justify-content:center;
	align-items:center;
	flex:1;
}
.img-box .zapdos
{
	width:200px;
}

.img-box .psyduck
{
	width:120px;
}
.box span
{	
	font-size: 20px;
	border-top:1px solid;
	text-align: center;
	padding: 8px 0;
}