*
{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:1;
}
.search{
    display: flex;
    position:relative;
    width: 600px;
    align-items: center;
    margin: 24px;
}

.search input{
    padding: 16px 64px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #ccc;
    width: 100%;
    font-size:16px;
} 
.icon{
    width:16px;
}
.mic{
    position:absolute;
    right: 32px;
    cursor: pointer;
}
.magnifying
{
    position:absolute;
    left: 24px;
}


.shortcut{
    display: flex;
    justify-content:center;
}
.box{
    width:60px;
    height:60px;
    align-items: center;
    background-color: rgba(241, 243, 244, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin:8px;
    cursor: pointer;
}

.shortcut-icon{
    width:26px;
}