.container{
    background-color:black;
    display:flex;
    /* width: 600px; */
    justify-content: space-evenly ;
     flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
}