body{
    margin: 0;
    padding: 0;
}
.container
{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:space-evenly;
    /* padding: 16px 0; */
}

.card
{
    /* height:fit-content; */
    margin: 32px 0;
    width: 20%;
    height: 420px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 6px 10px 10px 2px #888888;

}

.card img {
    align-self: stretch;
}

.card1
{
    align-self: flex-start;
}
.card2
{
    align-self: center;
}
.card3{
    align-self: flex-end;
}